@media only screen and (min-width: 501px) {
    :root {
        
        --font-body: Arial, Helvetica, sans-serif;
        --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
        /* colors */
        --primary-color: #f0a868; 
        --secondary-color: #525b0f;
        --tertiary-color: #8a470c;
        --light-grey: #d0d0d0;
        --dark-grey: #303030;
        

        /* sizes */
        --font-base: 18px;
        --small-font: 0.8em;
        --large-font: 1.2em;
    }
    /*reduce size of the <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">*/
    body {
        display: grid;
        grid-template-rows: 150px 1480px 200px;
        width: 100%;
    }
    #main-header{
        display:grid;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-template-columns: 1fr 1fr;
        height: 150px;
        width: 70%;
        /*center the header*/
        margin: 0 auto;
        background-color: wheat;
    }
    #main-header .logo{
        display:grid;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-template-columns: auto auto;
        display:flex;
        align-items: center;
        justify-content: flex-start;
    }
    #main-header .logo img{
        position:relative;
        top:-20px;
        display:flex;
        flex-direction: column;
        width: 120px;
        height: auto;
        margin-right: 20px;
    }
    #main-header .logo a{
        font-family: var(--font-body);
        font-size: 60px;
        margin-left: 40px;
        margin-bottom: 40px;
        color:black;
        font-weight: bold;;
    }
    #main-header .logo .highlight{
        color: var(--tertiary-color);
        font-weight: bold;
    }
    #main-header .cart{
        display:grid;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-content: flex-end;
        align-items: center;
    }
    #main-header .cart svg {
        display:flex;
        width: auto;   
        height: 90px;
        margin-top: 10px;
        margin-right: 20px;
        margin-bottom: auto;
        /*move the svg to the right*/
        justify-content: flex-end;
        align-items: center;
    }
    .divider {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-template-rows: 1000px 120px 360px;
        width: 70%;
        height: 1480px;
        margin: 0 auto;
        background-color: var(--light-grey);
    }
    .divider .hero{
        grid-row-start: 1;
        grid-row-end: 2;
        width: 100%;
        height: 1000px;
        object-fit: cover;
        overflow: hidden;
    }
    .divider .hero img{
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
    .divider .mission{
        /*Make the mission section flush with the hero image*/
        grid-row-start: 2;
        grid-row-end: 3;
        width: 100%;
        height: 120px;
        background-color: var(--secondary-color);
        color: white;
        font-family: var(--font-body);
        font-size: 50px;
        
    }
    .divider .mission p{
        margin-top: 25px;
        text-align: center;
        font-weight: bold;
    }
    .divider .products{
        grid-row-start: 3;
        grid-row-end: 4;
        width: 100%;
        height: 360px;
        background-color: var(--light-grey);
        margin: 0 auto;
        padding: 40px 0;
    }
    .divider .products .product-list{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 250px;
    }
    .divider .products .product-list li {
        list-style: none;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;

    }
    .divider .products .product-list a{
        /*separate the images and text by 150 px*/
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .divider .products .product-list img{
        width: 250px;
        height: auto;
    }
    .divider .products .product-list h2{
        font-family: var(--font-body);
        font-size: 44px;
        font-weight: bold;
        color: var(--dark-grey);
        margin-top: 10px;
    }
    footer {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        width: 70%;
        height: 200px;
        margin: 30px auto;
        background-color: var(--primary-color);
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    footer p{
        font-family: var(--font-body);
        font-size: 50px;
        font-weight: bold;
        color: var(--dark-grey);
        background-color: var(--primary-color);
    }
}


