@media only screen and (min-width: 501px) {
    :root {
        --font-body: Arial, Helvetica, sans-serif;
        --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
        /* colors */
        --primary-color: #f0a868;
        --secondary-color: #525b0f;
        --tertiary-color: #8a470c;
        --light-grey: #d0d0d0;
        --dark-grey: #303030;

        /* sizes */
        --font-base: 18px;
        --small-font: 0.8em;
        --large-font: 1.2em;
    }

    body {
        display:grid;
        grid-template-rows:  150px auto 150px;
        width: 100%;
        height:auto;
        background-color: var(--primary-color);
        text-align: center;
        margin-left:auto;
        margin-right:auto;
    }
    body header {
        display:grid;
        grid-template-columns: 500px auto;
        width:70%;
        height:inherit;
        background-color: aliceblue;
        margin-left:auto;
        margin-right:auto;
    }
    body header .logo {
        display:grid;
        grid-column-start: 1;
        grid-column-end: 2;
        justify-self: start;
    }
    body header .logo img {
        /*display the image with a 100px x 100px*/
        display:grid;
        object-fit: contain;
        margin-top: 10px;
        margin-left: 10px;
        height: 100px;
        width: 100px;
        size: contain;
    }
    body header .logo a {
        display:inline-block;
        margin-left:120px;
        margin-top: -120px;
        height: 100px;
        /*align text vertically and horizontally center*/
        color:var(--dark-grey);
        font-size: 50px;
        text-decoration:underline;
    }
    body header .logo a .highlight {
        /*make that the word "Outside" is in the tertiary color*/
        grid-row-start:1;
        grid-row-end:2;
        display:inline-flex;
        align-items: center;
        justify-content: center;
        height:auto;
        width:auto;
        color: var(--tertiary-color);
        text-decoration: underline;
    }
    body header .cart {
            display:grid;
            grid-column-start: 3;
            grid-column-end: 4;
            justify-self: end;
            margin-top: 20px;
            margin-right: 20px;
        }
    body header .cart a {
        display: inline-block;
        color: var(--dark-grey);
        text-decoration: none;
        /*enlarge the svg to 150px width and height*/
        width: 150px;
        height: 150px;
    }
    body header .cart a svg {
        width:  100px;
        height: 100px;
    }
    .logo {
        line-height: 60px;
        width: 245px;
        overflow: hidden;
        font-size: 30px;
        text-align: right;
        font-family: var(--font-headline);
    }
    main {
        display:grid;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-template-rows: auto auto auto auto;
        width:70%;
        height:auto;
        margin-left:auto;
        margin-right:auto;
        margin-top: 20px;;
    }
    main .divider .hero {
        display:grid;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-top: 140px;
        margin-left:auto;
        margin-right:auto;
        width:100%;
        height:1000px;
        position: relative;
    }
    main .divider .hero img {
        /*fit container*/
        width:100%;
        height: 1000px;
        object-fit: cover;
        object-position: center;
        opacity: 0.8;
    }
    main .divider .hero .logo-square {
        display:grid;
        grid-row-start: 2;
        grid-row-end: 3;
        height:200px;
        background-color: white;
    }
    main .divider .hero .logo-square img {
        display:grid;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 120px;
        height: 120px;
    }
    .divider .mission {
        display:grid;
        grid-row-start: 3;
        grid-row-end: 4;
        font-size: var(--large-font);
        line-height: 1.3;
        width: 100%;
        background-color: aliceblue;
        color: var(--light-grey);
        opacity: 0.8;
    }
    .mission p {
        margin: 0 auto;
        width: 100%;
        font-size: 44px;
        font-weight: bold;
        color:black; 
        text-align: center;
    }
    .divider .logo-square img {
        display:grid;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 120px;
        height: 120px;
    }
    .divider .logo-square div {
        display:grid;
        grid-row-start: 3;
        grid-row-end: 4;
        font-size: 50px;
        color: var(--dark-grey);
    }
    .divider .logo-square .highlight {
        color: var(--tertiary-color);
    }

    /* utility classes */
        .highlight {
        color: var(--tertiary-color);
    }

    button {
        padding: 0.5em 2em;
        background-color: var(--secondary-color);
        color: white;
        margin: auto;
        display: block;
        border: 0;
        font-size: var(--large-font);
        cursor: pointer;
    }

    .divider {
        border-bottom: 2px solid var(--primary-color);
    }

    /* End utility classes */

    /* Cart icon styles */
    .cart {
        padding-top: 1em;
        position: relative;
        text-align: center;
    }

    .cart svg {
        width: 25px;
    }

    .cart:hover svg {
        fill: gray;
    }

    /* End cart icon styles */
    /* Products section styles */
    main .products {
        display:grid;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-top: 2rem;
        background-color: aliceblue;
    }
    main .products ul {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    main .products ul li {
        margin:0.5rem;
    }
    main .products ul li a {
        text-decoration:underline;
        width:64px;
        height:auto;
        color:var(--dark-grey);
        font-size: 35px;
        font-weight:bold;
    }
    main .products ul li a:hover {
        color:var(--tertiary-color);
    }
    main .products ul li img {
        object-fit: contain;
        height: auto;
        width:150px;
        font-size: 35px;
        font-weight:bold;
    }

    .product-list {
        display: flex;
        flex-flow: row wrap;
        list-style-type: none;
        justify-content: center;
        background-color: azure;
        font-size: 33px;
        color: black;
    }

    /* Styles for product lists */
    .product-card {
        flex: 1 1 45%;
        margin: 0.25em;
        padding: 0.5em;
        border: 1px solid var(--light-grey);
        max-width: 250px;
    }

    .product-card h2,
    .product-card h3,
    .product-card p {
        margin: 0.5em 0;
    }

    .card__brand {
        font-size: var(--small-font);
    }

    .card__name {
        font-size: 1em;
    }

    /* End product list card */

    .product-detail {
        padding: 1em;
        max-width: 500px;
        margin: auto;
    }

    .product-detail img {
        width: 100%;
    }

    /* Start cart list card styles */
    .cart-card {
        display: grid;
        grid-template-columns: 25% auto 15%;
        font-size: var(--small-font);
        /* max-height: 120px; */
        align-items: center;
    }

    .cart-card__image {
        grid-row: 1/3;
        grid-column: 1;
    }

    .cart-card p {
        margin-top: 0;
    }

    .cart-card .card__name {
        grid-row: 1;
        grid-column: 2;
    }

    .cart-card__color {
        grid-row: 2;
        grid-column: 2;
    }

    .cart-card__quantity {
        grid-row: 1;
        grid-column: 3;
    }

    .cart-card__price {
        grid-row: 2;
        grid-column: 3;
    }
    footer {
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: var(--secondary-color);
        color: white;
        text-align: center;
        font-family: var(--font-body);
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        
    }
    footer p {
        margin-top:auto;
        margin-bottom: auto;  
        font-size: 35px;
        margin: 0;
    }
}
@media screen and (max-width: 500px) {
    body {
        margin: auto;
    }

    .mission {
        font-size: 1.2em;
    }

    .cart-card {
        font-size: inherit;
        grid-template-columns: 150px auto 15%;
    }
    }

    footer {
        font-size: var(--small-font);
    }
